html {
    font-size: 16px;
    width: 100%;
    font-family: $font-firasans;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h2 {
    @extend h1;
    text-transform: none;
    text-align: left;
}