/*abstracts*/
@import './assets/scss/abstracts/variales';

/*base*/
@import './assets/scss/base/resets';
@import './assets/scss/base/base';

/*layout*/
@import './assets/scss/layout/header';
@import './assets/scss/layout/footer';

/*components*/
@import './assets/scss/components/card';
@import './assets/scss/components/botones';

.texto {
    @include estilo-texto(0.9rem, justify, normal);
    margin: 20px;
}

.pregunta {
    @include estilo-texto(1rem, left, bold);
    @include padding-margin(0, 20px);
}

/* Metodos */
.section-metodo{
    height: 350px;
    display: flex;
    align-items: center;
}
.metodo {
    flex-direction: column;
    align-items: center;

    i{
        font-size: 2rem;
    }

    h3{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }
}

.main-nospreg {
    min-height: 100%;
}

.imgnosotros{
    width: 200px;
    img{
        width: 100%;
    }
}
@import './assets/scss/layout/mediaquery';