/*abstracts*/
/*Color primario*/
/*Color para botones o detalles*/
/*Tipografia*/
/*Mixin*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
  font-family: "FiraSans-Regular", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

h2 {
  text-transform: none;
  text-align: left;
}

/*layout*/
.navbar {
  background-color: #FFF4B9;
}
.navbar img {
  width: 150px;
  margin-top: 1.2rem;
}

.nav-link:hover {
  color: #EC0C8C;
}

footer {
  background-color: #FFF4B9;
  padding: 10px;
  margin-top: auto;
}
footer i {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}
footer img {
  width: 50px;
  justify-content: left;
}
footer h3 {
  font-size: 0.9rem;
  font-weight: bold;
}
footer p {
  font-size: 0.8rem;
  margin: 0;
}

.footer__nav__lista {
  list-style: none;
}
.footer__nav__lista a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(59, 59, 59);
}
.footer__nav__lista a:hover {
  color: #EC0C8C;
}

/*components*/
.container-fluid {
  margin-bottom: 1.2rem;
  text-align: center;
}

.contenedor {
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border: 5px solid #FFF4B9;
  box-shadow: 2px 3px 10px rgb(129, 129, 129);
  margin-bottom: 50px;
  transition: all 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.producto__titulo {
  font-size: 1rem;
}

.producto__precio {
  font-size: 0.9rem;
  font-weight: bold;
}

.perfil {
  gap: 20px;
  justify-content: center;
}

.cardperfil {
  width: 18rem;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgb(129, 129, 129);
}
.cardperfil img {
  width: 15rem;
}
.cardperfil div {
  padding: 10px;
}
.cardperfil div p {
  text-align: center;
  font-size: 14.4px;
}

.boton {
  width: 150px;
  height: 50px;
  text-decoration: none;
  background-color: #FFF4B9;
  padding: 10px;
  border-radius: 15px;
  color: #EC0C8C;
  text-align: center;
  justify-content: center;
  border: none;
  transition: all 0.5s ease-in-out;
}
.boton:hover {
  transform: scale(1.05);
}

.what {
  width: 50px;
  height: 50px;
  font-size: 34px;
  text-align: center;
  font-weight: normal;
  background-color: springgreen;
  color: white;
  position: fixed;
  right: 40px;
  bottom: 40px;
  line-height: 45px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s ease-in-out;
}
.what:hover {
  transform: scale(1.5);
}

.texto {
  font-size: 0.9rem;
  text-align: justify;
  font-weight: normal;
  margin: 20px;
}

.pregunta {
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  padding: 0;
  margin: 20px;
}

/* Metodos */
.section-metodo {
  height: 350px;
  display: flex;
  align-items: center;
}

.metodo {
  flex-direction: column;
  align-items: center;
}
.metodo i {
  font-size: 2rem;
}
.metodo h3 {
  font-size: 1rem;
}
.metodo p {
  font-size: 0.8rem;
}

.main-nospreg {
  min-height: 100%;
}

.imgnosotros {
  width: 200px;
}
.imgnosotros img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  h1, h2 {
    padding: 10px;
    margin: 20px;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    padding: 10px;
    margin: 20px;
    font-size: 1.9rem;
    text-align: left;
    font-weight: bold;
    text-transform: none;
  }
  .section-metodo {
    height: 200px;
  }
  .imgnosotros {
    width: 400px;
  }
  .imgnosotros img {
    width: 100%;
  }
  .cardperfil {
    width: 35rem;
  }
  .cardperfil div p {
    font-size: 16px;
  }
  .section-metodo {
    height: 350px;
    display: flex;
    align-items: center;
  }
  .metodo {
    flex-direction: column;
    align-items: center;
  }
  .metodo i {
    font-size: 4rem;
  }
  .metodo h3 {
    font-size: 1.5rem;
  }
  .metodo p {
    font-size: 1rem;
  }
  footer h3 {
    font-size: 1rem;
  }
  footer img {
    width: 50px;
    justify-content: left;
  }
  footer i {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  footer p {
    font-size: 0.8rem;
  }
  .footer__nav__lista a {
    font-size: 1rem;
  }
  .texto {
    font-size: 1rem;
    text-align: justify;
    font-weight: normal;
    margin: 20px;
  }
  .pregunta {
    font-size: 1.1rem;
    text-align: left;
    font-weight: bold;
    margin: 20px;
  }
}/*# sourceMappingURL=main.css.map */