/*abstracts*/
@import './abstracts/variales';

/*base*/
@import './base/resets';
@import './base/base';

/*layout*/
@import './layout/header';
@import './layout/footer';

/*components*/
@import './components/card';
@import './components/botones';
@import './components/formularios';

.texto {
    @include estilo-texto(0.9rem, justify, normal);
    margin: 20px;
}

.pregunta {
    @include estilo-texto(1rem, left, bold);
    @include padding-margin(0, 20px);
}

/* Metodos */
.section-metodo{
    height: 350px;
    display: flex;
    align-items: center;
}
.metodo {
    flex-direction: column;
    align-items: center;

    i{
        font-size: 2rem;
    }

    h3{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }
}

.main-nospreg {
    min-height: 100%;
}

.imgnosotros{
    width: 200px;
    img{
        width: 100%;
    }
}
.contenedor-carrito .contenedor-total{
    width: 100%;
    padding: 10px;
}

.contenedor-total{
    margin-bottom: 25px;
}
#confirmar{
    margin-top: 15px;
}
@import './layout/mediaquery';