.container-fluid {
    max-width: 100%;
    margin-bottom: 1.2rem;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    margin: 0.5rem;
    border: 5px solid $color-primario;
    box-shadow: 2px 3px 10px rgb(129, 129, 129);
    margin-bottom: 50px;
}

.producto__titulo {
    font-size: 1rem;
}

.producto__precio {
    font-size: 0.9rem;
    font-weight: bold;
}

.perfil{
    gap: 20px;
    justify-content: center;
}
.cardperfil{
    width: 18rem;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgb(129, 129, 129);

    img {
        width: 15rem;
    }
    div{
        padding: 10px;
        p{
            text-align: center;
            font-size: 14.4px
        }
    }
}

.card-carrito{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    font-size: 1rem;

    p{
        margin-top: 10px;
    }
    h3{
        font-size: 1rem;
    }
    button{
        margin-left: auto;
    }
}
