@font-face {
  font-family: FiraSans-Regular;
  src: url(./assets/fonts/FiraSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FiraSans-Regular;
  font-size: 16px;
}

h1 {
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px;
  text-align: left;
}

/* Barra navegacion */
.navbar {
  background-color: #FFF4B9;
}

.navbar-brand img {
  width: 150px;
  margin-top: 1.2rem;
}

.nav-link:hover {
  color: #EC0C8C;
}

/* Productos destacados */
.container-fluid {
  margin-bottom: 1.2rem;
  text-align: center;
}

.contenedor {
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border: 5px solid #FFF4B9;
  box-shadow: 2px 3px 10px rgb(129, 129, 129);
  margin-bottom: 50px;
}

.card-text {
  font-size: 1rem;
}

.producto__precio {
  font-size: 0.9rem;
  font-weight: bold;
}

.producto__img1 {
  background-image: url(./assets/img/Destacado1.png);
}

.producto__img2 {
  background-image: url(./assets/img/Destacado2.png);
}

.producto__img3 {
  background-image: url(./assets/img/Destacado3.png);
}

.producto__img4 {
  background-image: url(./assets/img/Destacado4.png);
}

.boton {
  width: 150px;
  height: 50px;
  text-decoration: none;
  background-color: #FFF4B9;
  padding: 10px;
  border-radius: 15px;
  color: #EC0C8C;
  text-align: center;
  justify-content: center;
  border: none;
}

/* Metodos */
.metodo img {
  width: 18rem;
}

/* Footer */
footer {
  background-color: #FFF4B9;
  padding: 10px;
}

.subtitulo {
  font-size: 0.9rem;
}

.footer__nav__lista {
  list-style: none;
}

.footer__nav__lista a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(59, 59, 59);
}

.footer__nav__lista a:hover {
  color: #EC0C8C;
}

footer img {
  width: 50px;
  justify-content: left;
}

footer i {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.footer__texto {
  font-size: 0.8rem;
  margin: 0;
}

.texto {
  font-weight: normal;
  text-align: justify;
  font-size: 0.9rem;
  margin: 20px;
}

.pregunta {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin: 20px;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 2.1rem;
    padding: 10px;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    text-align: left;
  }
  .main-nospreg {
    height: 80vh;
  }
  .metodo img {
    width: 24rem;
    padding: 20px;
  }
  .subtitulo {
    font-size: 1.3rem;
  }
  .footer__nav__lista a {
    font-size: 1rem;
  }
  footer img {
    width: 50px;
    justify-content: left;
  }
  footer i {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .subtitulo {
    font-size: 1rem;
  }
  .footer__texto {
    font-size: 0.7rem;
  }
  .texto {
    font-weight: normal;
    text-align: justify;
    font-size: 0.9rem;
    margin: 20px;
  }
  .pregunta {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    padding: 0;
    margin: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */